
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

.suite-features .flexbox {
  justify-content: normal;
}

a {
  color: #18206a;
}

a:hover {
  color: #1c7452;
}

.btn-primary {
    color: #fff;
    background-color: #191919;
    border-color: #191919;
}

.btn-primary:hover {
    background-color: #aaa;
    border-color: #aaa;
    color: #191919;
    box-shadow: none;
}

.btn-white {
  color: #18206a;
}

.btn-white:hover {
  background-color: #191919;
  border-color: #aaa;
  color: #fff;
}

#logo-inverse {
  margin-top: 20px;
  max-height: 80px;
}


.site-footer {
  padding: 100px 0;
  margin-top: 15px;
}

/* @media (min-width: 1200px) {
  .container{
    width: 70%;
  } */

}

@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}
